@font-face {
  font-family: Muli;
  src: url(./assets/fonts/Muli-Regular.ttf);
}

:root {
  /* color variables */
  /*--base: #36373C;*/
  --base: #ffffff;
  --accent: #149B78;
  --accent-dark: #2F504C;
  --accent-aux: #5EA71C ;
  --input-color: #FEFEFE;
  --input-color-dark: #A0AAAD;
  --input-color-aux: #8B8C76;
}



body {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--base);
  font-family: 'Muli';
}

.logo {
  height: 100px;
  width: 100px;
}

.mini-logo {
  width: 60px;
  height: 60px;
}

h1 {
  font-size: 60px;
  text-align: center;
}
