:root {
  /* color variables */
  --base: #36373C;
  --accent: #149B78;
  --accent-dark: #2F504C;
  --accent-aux: #5EA71C ;
  --input-color: #FEFEFE;
  --input-color-dark: #A0AAAD;
  --input-color-aux: #8B8C76;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--base);
}

.logo {
  height: 100px;
  width: 100px;
}

.button {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  color: var(--input-color);
  background-color: var(--accent);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 124px;
  height: 44px;
  margin-top: -22px;
  margin-left: -62px;
  text-shadow: 0 -1px -1px #af3a2a;
  box-shadow: 0 4px 0 var(--accent-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in-out;
}

.button:hover {
  background-color: #1ACC9E;
  text-shadow: 0 -1px -1px #c4402f;
  box-shadow: 0 4px 0 var(--accent), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
  margin-top: -18px;
  box-shadow: none;
}
